body {
  margin: 0;
}

body::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: url(/img/noise-light.png);
  background-repeat: repeat;
}

canvas {
  width: 100vh;
  height: 100vw;
}